html, body {
    height: 100%;
}

.cover-container{
    background-image: url(../img/clay-banks-OvGIFsexb-8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.masthead-brand {
    font-family: 'Cinzel', serif;
    color: white;
}

.service-header {
    font-family: 'Cinzel', serif;
}

.lead, .cover-heading {
    color: white;
    font-family: 'Lato', sans-serif;
}

.service-lead {
    color: #003e80;
    font-family: 'Lato', sans-serif;
}

.service-body {
    background-color: #C0DEFF;
}

.w-100 {
    width: 100% !important;
    height: 75vh;
  }

.blackquote {
    color: white;
    background: rgba(155, 155, 155, 0.6);
}